<h3> Your Profile: </h3>
<p>
Username: <%= @user.username %> <br>
Name: <%= @user.name %> <br>
Number of Plants: <%= @user.plants.count %> <br>
Location Code: <%= @user.location_code %> <br>
<%= render 'shared/links' %>
